
ul{
margin: 0;
padding: 0;
list-style: none;
width: 580px;
height: 30px; 
background: #159cb0 url(../imagem/fundo-horizontal.png) repeat-x;
float: left;
}
ul li{
    float: left;
}
li a{
    display: block;
    padding: 0 2em;
    line-height: 1.5em;
    text-decoration:none;
    float: left;
    background: url(../imagem/divisor.png) repeat-y;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover{
    display: block;
    padding-bottom: 5px;
    color: #085662;
    background: #44cade;
    
}



